body {
    overflow: hidden;
}

.container { 
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    background-color: #e2e2e2;
}